.movies__button {
  width: calc(100% - 140px);
  background-color: #2f2f2f;
  border-radius: 6px;
  border: 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  height: 36px;
  padding: 0;
  margin: 50px 0 80px;
  outline-style: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.movies__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 770px) {
  .movies__button {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 400px) {
  .movies__button {
    width: calc(100% - 20px);
  }
}
