.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 396px;
  width: 100%;
  margin: -74px 0 0 0;
}

.auth-form__logo {
  height: 38px;
  width: 38px;
}

.auth-form__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.auth-form__form {
  display: flex;
  flex-direction: column;
}

.auth-form__label {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}

.auth-form__input {
  padding: 5px 0 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  outline-style: none;
  background-color: #202020;
  border: 0;
  border-bottom: 1px solid #424242;
}

.auth-form__input:focus {
  border-bottom: 1px solid #4285f4;
}

.auth-form__input_state_valid {
  border-bottom: 1px solid #528f4b;
}

.auth-form__error {
  margin: 4px 0 8px 0;
}

.auth-form__error:last-of-type {
  margin: 4px 0 112px 0;
}

.auth-form__button {
  background-color: #4285f4;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  outline-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  height: 45px;
  transition: opacity 0.3s ease-in;
}

.auth-form__button:hover {
  opacity: 0.8;
}

.auth-form__button_invalid {
  cursor: default;
  pointer-events: none;
  background-color: #202020;
  color: rgba(139, 139, 139, 0.2);
  border: 1px solid rgba(139, 139, 139, 0.2);
}

.auth-form__text {
  margin: 16px 0 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
}

.auth-form__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;
  transition: opacity 0.3s ease-in;
}

.auth-form__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 440px) {
  .auth-form {
    align-items: center;
    width: calc(100% - 60px);
  }

  .auth-form__form {
    width: 100%;
  }
  .auth-form__button {
    font-size: 12px;
    line-height: 15px;
  }

  .auth-form__text {
    font-size: 12px;
    line-height: 15px;
  }

  .auth-form__link {
    font-size: 12px;
    line-height: 15px;
  }
}
