.techs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  width: 100%;
}

.techs__title {
  width: calc(100% - 140px);
}

.techs__subtitle {
  margin: 90px 0 0 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__text {
  margin: 26px 0 100px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
}

.techs__list {
  width: 100%;
  padding: 0;
  margin: 0 0 100px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, max-content));
  grid-template-rows: 60px;
  justify-content: center;
  grid-gap: 10px;
}

.techs__item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: #303030;
  border-radius: 10px;
}

.techs__item:last-of-type {
  margin: 0;
}

.tech {
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 770px) {
  .techs__subtitle {
    margin-top: 80px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
  }

  .techs__list {
    grid-template-columns: repeat(auto-fit, minmax(84px, max-content));
    grid-template-rows: 57px;
    margin: 0 0 90px 0;
  }

  .techs__item {
    max-width: 150px;
    min-width: 84px;
    height: 57px;
  }

  .tech {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 400px) {
  .techs__title {
    width: calc(100% - 36px);
  }

  .techs__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin-top: 60px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
    margin: 24px 0 50px 0;
  }

  .techs__list {
    grid-template-columns: repeat(2, minmax(84px, max-content));
    grid-template-rows: 57px;
    margin: 0 0 70px 0;
  }
}
