.tab-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 10px 30px 10px;
}

.tab-nav__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding-right: 10px;
    transition: opacity .3s ease-in;
}

.tab-nav__link:hover {
    opacity: 0.7;
}

.tab-nav__link:last-of-type {
    padding-right: 0;
}

.tab-nav__button {
    margin: 0;
    padding: 0;
    border: 0;
    width: 96px;
    height: 36px;
    background: #303030;
    border-radius: 10px;
    outline-style: none;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}
